/*#91AA9D, #D1DBBD, #FCFFF5, #3E606F, #193441, #172329*/
header
{
background-color: #D1DBBD;
}
body
{
font-family: 'Merriweather', serif;
font-family: 'Open Sans' , sans-serif; 
}
.header_logo
{
display: inline;
display: flex;
justify-content: space-between;
}
.logohome
{
width: 10%;
}
main
{
background-color: #91AA9D;
}
button
{
background-color: #3E606F;
}
button a
{
color: white;
text-decoration: none;
}
#titre h1
{
display: flex;
justify-content: center;
}
#titre p
{
vertical-align: baseline;
}
#chambres
{
justify-content: space-between;
display: inline-block;
font-size: 10pt;
}
.NosChambres img
{
width: 60%;
}
.NosChambres button
{
height: 30%;
width: 90%;
}
.photos
{
width: 60%;
}
h2 
{
display: flex;
justify-content: center;
}
footer
{
background-color: #193441;
}
#first
{
display: flex;
justify-content: space-between;
}
footer ul
{
list-style-type: none; 
}
#newsletter
{
text-align: center;
}
#social
{
text-align: center;
}
#social img
{
width: 15%;
}

/*Fil d'ariane*/
.breadcrumb ul {
    display: flex;
    margin-left: 5%;
    list-style-type: none; 
}
    
.breadcrumb li::before {
    content: "→";
}
    
.breadcrumb li:first-child::before {
    content: "";
}

.date
{
display: flex;
justify-content: space-between;
}
#newsletter input
{
width: 35%;
}
.champs
{
display: flex;
justify-content: space-around;
}
    
@media (min-width:800px){

body
{
font-family: 'Merriweather', serif;
font-family: 'Open Sans' , sans-serif; 
font-size: 16pt;
}
h1
{
font-size: 32pt;
}
h2
{
font-size: 24pt;
}
.menu
{
margin-left: 70%;
}
#titre p
{
margin-left: 70%;
}
#chambres div
{
display: flex;
justify-content: center;
}
#bar
{
display: flex;
justify-content: space-between;
}
#concert
{
display: flex;
justify-content: space-between;
}
#rando
{
display: flex;
justify-content: space-between;
}
#first
{
justify-content: space-around;
}
#map
{
display: flex;
justify-content: center;
}
#copyright
{
display: flex;
justify-content: center;
}



}

@media (min-width: 1200px){

article div
{
display: flex;
justify-content: center;

}
h1,p
{
display: flex;
justify-content: center;
}
article 
{
margin:0% 20% 0% 20%;
}

}
/* MENU BURGGER REGARDER GRAFIKART
.header__icon {
    position: relative;
    display: block;
    float: right;
    width: 50px;
    height: 66px;
    cursor: pointer; }
    .header__icon:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      top: 16px;
      left: 15px;
      box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; }
.site-container { overflow: hidden; }

   Le menu collé à gauche est masqué grâce à un transform 

  .menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #2a378b;
    width: 450px;
    transform: translateX(450px); 
  }
     Un lien par ligne 

    .menu a {
      display: block;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-bottom: 1px solid #303f9f; 
    }

*/